<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %>
        prohibited this survey from being saved:
      </h2>

      <ul>
        <% survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit '', type: :image, src: "/images/emoticons/rs_very_good.png", class: 'submit_emoticon btn', id: 'first_emoticon', name: "very_good[]" %>
    <%= form.submit '', type: :image, src: "/images/emoticons/rs_good.png", class: 'submit_emoticon', name: "good[]"%>
    <%= form.submit '', type: :image, src: "/images/emoticons/rs_neutral.png", class: 'submit_emoticon', name: "neutral[]" %>
    <%= form.submit '', type: :image, src: "/images/emoticons/rs_bad.png", class: 'submit_emoticon', name: "bad[]" %>
    <%= form.submit '', type: :image, src: "/images/emoticons/rs_very_bad.png", class: 'submit_emoticon', id: 'last_emoticon', name: "very_bad[]" %>
  </div>
<% end %>
